        <!-- Menu -->
<style>
  .bg-menu-theme{
    background-color: #081a3e !important;
  }
  .menu-item a div{
    color: white;
  }
  .menu-item:hover{
    background-color: rgba(255, 255, 255, 0.479);
  }
</style>
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo d-flex justify-content-center">
              <a href="/" class="app-brand-link d-block">
                <span class="app-brand-logo demo ">
                  <img src="/assets/images/temenos.png" width="15px" class="d-block" alt="temenosglobal logo">
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2 text-white text-capitalize"> Temenos </span>
              </a>
  
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
  
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item">
                <a href="/dashboard" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
             <li class="menu-item">
                 <a href="/invest" class="menu-link">
                    <i class='text-primary menu-icon tf-icons bx bxs-data'></i>
                    <div data-i18n="Account Settings"> Investment plans </div>
                 </a>
            </li>
           <li class="menu-item">
            <a href="/deposit" class="menu-link">
               <i class='text-success menu-icon tf-icons bx bxs-coin'></i>
               <div data-i18n="Account Settings">Deposit</div>
            </a>
           </li>
           <li class="menu-item">
            <a href="/transfer" class="menu-link">
              <i class='text-light menu-icon tf-icons bx bx-transfer text-primary'></i>
               <div data-i18n="Account Settings">Transfer</div>
            </a>
        </li>
           <li class="menu-item">
            <a href="/withdraw" class="menu-link">
               <i class="text-info menu-icon tf-icons bx bx-dock-top"></i>
               <div data-i18n="Account Settings">Withdraw</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/history" class="menu-link">
                <i class='text-warning menu-icon tf-icons bx bx-history'></i>
               <div data-i18n="Account Settings"> Transactions</div>
            </a>
       </li>
           <li class="menu-item">
            <a href="/loan" class="menu-link">
                <i class='menu-icon tf-icons bx bxs-bank'></i>
               <div data-i18n="Account Settings"> Loan </div>
            </a>
            </li>
            <li class="menu-item">
                <a href="/account" class="menu-link">
                    <i class="text-light menu-icon tf-icons bx bx-lock-open-alt"></i>
                   <div data-i18n="Account Settings">Account Settings</div>
                </a>
           </li>
              <li class="menu-header small text-uppercase">
              </li>
              <li class="menu-item">
                <a href="/logout" class="menu-link">
                    <i class='text-danger menu-icon tf-icons bx bx-log-out-circle'></i>
                   <div data-i18n="Account Settings"> Logout</div>
                </a>
                </li>
                <li class="menu-item">
                  <!-- google translat box -->
                    <div id="google_translate_element"></div>
                  <!-- ######## -->
                  </li>
   
          </aside>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
          document.querySelectorAll(".menu-inner li.menu-item").forEach(item=>{
            if("<%=reqUrl%>" == item.querySelector("li.menu-item a").getAttribute("href")){
              item.classList.add("active")
            }
          })
        </script>
          <script>
            //  google translation initiation 
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
              }
            //    end of google translate initialiazation 
                  
            </script>
        <!-- / Menu -->