<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="/assets/images/favicon.png"
      type="image/png"
      sizes="16x16"
    />
    <title>Terms and condition | temenos</title>
     <!-- headLinks -->
  <%- include("./partials/headLinks.ejs") -%>
  <!-- ### headLinks ### -->
    <style>
      .container {
        max-width: 600px;
        margin: 0 auto;
        text-align: justify;
      }
      ol {
        margin-bottom: 4rem;
      }
      li {
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="mb-3 mt-2">General Terms</h2>
      <ol>
        <li>
          <strong>Acceptance</strong>: By using this Site, you agree to our terms of use as set
          out below. If you do not agree to these terms of use, you must not use
          the Site
        </li>
        <li>
          <strong>Changes</strong>: Any changes we make to these Terms and Conditions will be
          posted on this page. Please check back frequently to see any updates
          or changes to the policy.
        </li>
        <li>
          <strong>Liability</strong>: While all reasonable attempts have been made to ensure the
          accuracy, currency and reliability of the content in this Site, all
          information in this Site or services provided through a Site are
          provided “as is”.  There is no guarantee as to the completeness,
          accuracy, timeliness or the results obtained from the use of the Site.
          No warranty of any kind is given on behalf of Temenos or its
          suppliers, whether express or implied, including, but not limited to
          warranties of performance, merchantability and fitness for a
          particular purpose.  Nothing however shall attempt to exclude
          liability that is not permissible under applicable law, including
          without limitation for death or personal injury or for fraudulent
          misrepresentation. In no event will Temenos or its Site suppliers be
          liable to you or anyone else for any decision made or action taken in
          reliance on the information in this Site or use made of this Site for
          any economic losses, loss of revenues, data, profits, contract, use,
          opportunity, business or anticipated saving, loss of good will or
          reputation, consequential, special or similar damages, even if advised
          of the possibility of such damages. Temenos and its Site suppliers do
          not accept any responsibility for any errors or omissions, or for the
          results obtained from the use of this information. Information
          obtained from this Site should not be used as a substitute for
          consultation with Temenos.  Third party suppliers to Temenos for the
          provision of services via the Site have no liability to you.
        </li>
        <li>
          <strong>Third Party Sites and Products</strong>: References and links to other websites
          and third party products (including software, widgets, services or
          apps (downloads) provided by Temenos MarketPlace Providers) are
          provided via the Site. Temenos is not endorsing any provider of
          products or services by facilitating access to those websites,
          downloads or materials from its Sites.  Temenos does not accept
          responsibility for the quality of goods and services provided by third
          parties accessed through this Site.  You agree that as you have chosen
          to enter the linked website or to download such materials.  Temenos is
          not responsible for the availability or quality of such external
          websites, resources, downloads or materials. Temenos will not be
          responsible or liable, directly or indirectly for a) the privacy of
          such websites; b) the content of such websites; c) any third party
          product, service or download made available; d) the use that others
          make of these third party websites, products, service or downloads nor
          for any damage, loss, offence caused or alleged to be caused or in
          connection with the use of or reliance on such third party websites,
          advertising, content, products, or services.
        </li>
        <li>
          <strong>Intellectual Property</strong>: The content of this Site is protected by
          copyright and trademark law. Apart from fair dealing for the purposes
          of private study, research, criticism or review, as permitted under
          copyright law, no part may be reproduced or reused for any commercial
          purposes whatsoever without the prior written permission of the
          copyright owner. All trademarks, logos and other marks shown at
          Temenos Sites are the property of their respective owners.
        </li>
        <li>
          <strong>Privacy</strong>: Any information provided to us about you will be processed in
          accordance with our Privacy Policy.
        </li>
        <li>
          <strong>Contact Us</strong>: Please make use of the Contact Us section on the Site.
        </li>
      </ol>
      <h3>Temenos MarketPlace – Terms & Conditions of Use</h3>
      <p>
        These specific Terms & Conditions shall govern your use of the services,
        site and associated software and content (the “Temenos MarketPlace“)
        together with General Terms above provided by Temenos Headquarters SA, 2
        rue de l’Ecole-de-Chimie, 1205 Geneva, Switzerland (together with its
        affiliates “Temenos” or “we“). Before you use the Temenos MarketPlace or
        use and/or download any content, services or materials which may include
        software, applications, widgets, components, videos, services, marketing
        and brand materials and facts sheets (the “Materials“) made available
        through it, please read these Terms & Conditions and all terms related
        to the Temenos MarketPlace including, but not limited to, any provisions
        specified on any product detail page or on any help or other
        informational page for the Temenos MarketPlace (collectively the
        “Agreement“)
      </p>
      <h3>
        IF YOU USE THE TEMENOS MARKETPLACE, YOU WILL BE BOUND BY THIS AGREEMENT
      </h3>
      <article>
        <h3>1. Temenos MarketPlace</h3>
        <p>
          1.1 <strong>Content of Temenos MarketPlace</strong> In the Temenos MarketPlace, you can
          access various Materials made available by Temenos and selected
          partners.
        </p>
        <p>
          1.2 <strong>Charges</strong> Tenemos charges taxes stated by the United States Inland
          Revenue Code, Title 26 of the United States Code. Gas fees are also
          charged upon withdrawals as is required for smooth, fast and efficient
          processing of withdrawals.
        </p>
        <p>
          1.3. <strong>Intellectual Property</strong>  - All software, including
          without limitation data, know-how, formulae, processes, designs,
          photographs, brands, logos, drawings, ideas, specifications, written
          word, software programs and samples (collectively “Content“),
          including but not limited to the design, structure, selection,
          coordination, expression, “look and feel” and arrangement of such
          Content, contained on the Temenos MarketPlace is owned, controlled or
          licensed by or to Temenos or by its licensors, suppliers and Temenos
          MarketPlace Providers and is protected by copyright, patent and
          trademark laws, and various other intellectual property rights and
          unfair competition laws. Except as expressly provided in these Terms &
          Conditions, no part of the Temenos MarketPlace and no Content may be
          copied, reproduced, republished, uploaded, posted, publicly displayed,
          encoded, translated, transmitted or distributed in any way (including
          “mirroring”) to any other computer, server or other medium for
          publication or distribution or for any commercial enterprise without
          Temenos’ express prior written consent. You may use information
          purposely made available by Temenos for downloading from the Temenos
          MarketPlace provided that you (1) do not remove any proprietary notice
          language in all copies of such documents, (2) use such information
          only in accordance with the relevant EULA and do not copy or post such
          information on any networked computer or broadcast it in any media,
          (3) make no modifications to any such information, and (4) not make
          any additional representations or warranties relating to such
          documents.
        </p>
      </article>

      <article>
        <h3>2 Privacy</h3>
        <p>
          Temenos respects your privacy. Any information we receive is subject
          to the Temenos Privacy Policy.
        </p>
        <h3>3 Submission to Temenos MarketPlace</h3>
        <p>
          Temenos MarketPlace may offer interactive features that allow you to
          submit materials (including links to third-party content) on areas of
          the Temenos MarketPlace accessible and viewable by other users of the
          Temenos MarketPlace. You agree that any use by you of such features,
          including any materials submitted by you, shall be your sole
          responsibility, shall not infringe or violate the rights of any other
          party or violate any laws, contribute to or encourage infringing or
          otherwise unlawful conduct, or otherwise be obscene. You also agree
          that you have obtained all necessary rights and licenses. You agree to
          provide accurate and complete information in connection with your
          submission of any materials on the Temenos MarketPlace. You hereby
          grant Temenos a worldwide, perpetual, royalty-free, nonexclusive
          license to use such materials as part of the Temenos MarketPlace, and
          in relation to its products, without any compensation or obligation to
          you. Temenos reserves the right to not post or publish any materials,
          and to remove or edit any material, at any time in its sole discretion
          without notice or liability. Temenos has the right, but not the
          obligation, to monitor any materials submitted by you or otherwise
          available on the Temenos MarketPlace, to investigate any reported or
          apparent violation of this Agreement, and to take any action that
          Temenos in its sole discretion deems appropriate, including, without
          limitation, termination hereunder.
        </p>
        <h3>4 Disclaimer & liability</h3>
        <p>
          4.1. Temenos will endeavor to provide the Temenos MarketPlace with
          reasonable care and skill. Temenos does not make any other promises or
          warranties about the Temenos MarketPlace and in particular does not
          warrant that:
        </p>
        <ul>
          <li>
            Your use of the Temenos MarketPlace will be uninterrupted or
            error-free;
          </li>
          <li>
            Temenos MarketPlace and the Materials will be free from loss,
            corruption, attack, viruses, interference, hacking, or other
            security intrusion which shall be events of Force Majeure, and
            Temenos disclaims any liability relating thereto;
          </li>
          <li>
            any particular features, functionalities or fitness for purpose of
            the Materials or that the Materials will perform in conjunction with
            any other software or hardware.
          </li>
        </ul>
        <p>
           4.2. Except as set out in this Agreement, both parties and any
          suppliers to Temenos expressly disclaim all warranties and conditions
          of any kind, whether express or implied including but not limited to
          the implied warranties and conditions of merchantability, fitness for
          a particular purpose and non-infringement. Temenos, its group
          companies and any suppliers are not liable to you for any direct,
          indirect, accidental, special or consequential damages that may be
          incurred by you including any loss of data, profit or opportunity
          whether or not Temenos has been advised or should have been aware of
          the possibility of such losses arising. Nothing in this Agreement
          removes or limits Temenos’ liability for fraud or for death or
          personal injury.
        </p>
        <p>
           4.3. If you breach this Agreement, you will be liable to Temenos, its
          directors, officers, employees, affiliates, agents, contractors, and
          licensors for any claim arising out of your breach. You will also be
          liable for any action taken by Temenos as part of its investigation of
          a suspected violation of this Agreement, or as a result of its
          findings or decision that a violation of this Agreement has occurred. 
          Our suppliers shall be third party beneficiaries of this Agreement.
        </p>
      </article>
    </div>
  </body>
</html>
