<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Contact Us - Temenos</title>
    <%- include('./home-partials/headLink.ejs') -%>
</head>
<body>

<div class="preloader orange-gradient">
<div class="preloader-wrapper">
<div class="preloader-grid">
<div class="preloader-grid-item preloader-grid-item-1"></div>
<div class="preloader-grid-item preloader-grid-item-2"></div>
<div class="preloader-grid-item preloader-grid-item-3"></div>
<div class="preloader-grid-item preloader-grid-item-4"></div>
<div class="preloader-grid-item preloader-grid-item-5"></div>
<div class="preloader-grid-item preloader-grid-item-6"></div>
<div class="preloader-grid-item preloader-grid-item-7"></div>
<div class="preloader-grid-item preloader-grid-item-8"></div>
<div class="preloader-grid-item preloader-grid-item-9"></div>
</div>
</div>
</div>

<%- include('./home-partials/navLink.ejs') -%>


<header class="page-title page-bg" style="background: linear-gradient(90deg,#0856e6 0%,#2f74f4 100%);">
    <div class="logo-bg-icon">
        <div class="logo-bg-item">
        <img src="assets/home/images/circle.png" alt="icon">
        </div>
        <div class="logo-bg-item">
        <img src="assets/home/images/square.png" alt="icon">
        </div>
        </div>
<div class="container">
<div class="page-title-inner">
<div class="section-title">
<h1>Contact Us</h1>
<ul class="page-breadcrumbs">
<li><a href="/">Home</a></li>
<li>Contact us</li>
</ul>
</div>
</div>
</div>
</header>


<section class="contact-address-section pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="box-card fluid-height">
<div class="box-card-inner full-height">
<div class="box-card-icon mb-25">
<img src="assets/home/images/address.png" alt="icon"> 
</div>
<div class="box-card-details">
<h3 class="box-card-title mb-20">Address</h3>
<p class="box-card-para">Temenos Headquarters SA 2 Rue de l’Ecole-de-Chimie CH - 1205 Geneva Switzerland</p>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
<div class="box-card fluid-height">
<div class="box-card-inner full-height">
<div class="box-card-icon mb-25">
<img src="assets/home/images/email.png" alt="icon"> 
</div>
<div class="box-card-details">
<h3 class="box-card-title mb-20">Email</h3>
<p class="box-card-para"><a class="link-us" href="mailto:admin@temenosglobal.com"><span class="__cf_email__" >admin@temenosglobal.com</span></a></p>
<p class="box-card-para"><a class="link-us" href="mailto:support@temenosglobal.com"><span class="__cf_email__" >support@temenosglobal.com</span></a></p>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
<div class="box-card fluid-height">
<div class="box-card-inner full-height">
<div class="box-card-icon mb-25">
<img src="assets/home/images/contact-phone.png" alt="icon"> 
</div>
<div class="box-card-details">
<h3 class="box-card-title mb-20">Phone</h3>
<p class="box-card-para"><a class="link-us" href="tel:+1(601)565-2458">+1 (601) 565-2458</a></p>
<!-- <p class="box-card-para">+(456) 332-897-234</p> -->
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<!-- <section class="contact-comment-section bg-off-white pt-100 pb-70">
<div class="container">
<div class="home-facility-content">
<div class="row align-items-end">

<div class="col-sm-12 col-md-12 col-lg-12">
<div class="home-facility-item pb-30">
<div class="blog-comment-leave-area contact-comment-leave-area">
<h3 class="sub-section-title">Leave a message</h3>
<div class="blog-comment-input-area mt-40">
<form id="contactForm">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="form-group mb-30">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="flaticon-user"></i></span>
</div>
<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name*" />
</div>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="form-group mb-30">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="flaticon-user"></i></span>
</div>
<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email*" />
</div>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="form-group mb-30">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="flaticon-phone-call"></i></span>
</div>
<input type="text" name="phone_number" id="phone_number" required data-error="Please enter your phone number" class="form-control" placeholder="Phone*" />
</div>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="form-group mb-30">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="flaticon-book"></i></span>
</div>
<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject*" />
</div>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<div class="form-group mb-30">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="flaticon-email"></i></span>
</div>
<textarea name="message" class="form-control" id="message" rows="5" required data-error="Write your message" placeholder="Your Message*"></textarea>
</div>
<div class="help-block with-errors"></div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
<button class="btn1 orange-gradient btn-with-image" type="submit">
<i class="flaticon-login"></i>
<i class="flaticon-login"></i>
Send A Message
</button>
<div id="msgSubmit"></div>
<div class="clearfix"></div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
    <%- include('./home-partials/footer.ejs') -%>
</body>
</html>