<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>How It Works - Temenos</title>
    <%- include('./home-partials/headLink.ejs') -%>
</head>
<body>

<div class="preloader orange-gradient">
<div class="preloader-wrapper">
<div class="preloader-grid">
<div class="preloader-grid-item preloader-grid-item-1"></div>
<div class="preloader-grid-item preloader-grid-item-2"></div>
<div class="preloader-grid-item preloader-grid-item-3"></div>
<div class="preloader-grid-item preloader-grid-item-4"></div>
<div class="preloader-grid-item preloader-grid-item-5"></div>
<div class="preloader-grid-item preloader-grid-item-6"></div>
<div class="preloader-grid-item preloader-grid-item-7"></div>
<div class="preloader-grid-item preloader-grid-item-8"></div>
<div class="preloader-grid-item preloader-grid-item-9"></div>
</div>
</div>
</div>

<%- include('./home-partials/navLink.ejs') -%>

<header class="page-title page-bg" style="background: linear-gradient(90deg,#0856e6 0%,#2f74f4 100%);">
    <div class="logo-bg-icon">
        <div class="logo-bg-item">
        <img src="assets/home/images/circle.png" alt="icon">
        </div>
        <div class="logo-bg-item">
        <img src="assets/home/images/square.png" alt="icon">
        </div>
        </div>
<div class="container">
<div class="page-title-inner">
<div class="section-title">
<h1>How It Works</h1>
<ul class="page-breadcrumbs">
<li><a href="index-2.html">Home</a></li>
<li>How It Works</li>
</ul>
</div>
</div>
</div>
</header>


<section class="home-service-section p-tb-100">
<div class="container">
<div class="section-title">
<h2>How Our System Works</h2>
<p>Follow the step-by-step procedure to becoming an investor at Temenos.
    Watch the video below to find out how it works.</p>
</div>
<div class="home-service-content service-page-grid">
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="home-service-item fluid-height">
<div class="home-service-details full-height">
<div class="home-service-image">
 <img src="assets/home/images/service4.png" alt="service">
</div>
<div class="home-service-text">
<h3>Register & Create wallet</h3>
<p>Easily create an investment account by Click on the sign up link on the top menu, and fill out the required personal details to get started. </p>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="home-service-item fluid-height">
<div class="home-service-details full-height">
<div class="home-service-image">
<img src="assets/home/images/service5.png" alt="service">
</div>
<div class="home-service-text">
<h3>Add Funds to Wallet</h3>
<p>Go to the deposit section of your dashboard, select a payment method and follow the instructions carefully.</p>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="home-service-item fluid-height">
<div class="home-service-details full-height">
<div class="home-service-image">
<img src="assets/home/images/service1.png" alt="service">
</div>
<div class="home-service-text">
<h3>Set up your investment</h3>
<p>Start your first investment by deciding for how long you want to invest, the frequency of your payouts and how much you want to invest.</p>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-3">
<div class="home-service-item fluid-height">
<div class="home-service-details full-height">
<div class="home-service-image">
<img src="assets/home/images/service2.png" alt="service">
</div>
<div class="home-service-text">
<h3>Instant Withdrawal </h3>
<p>You will receive daily profits throughout the duration of your investment. At the end of your investment you will also be able to withdraw your initial investment capital.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<%- include('./home-partials/footer.ejs') -%>
</body>

</html>