<div class="card card-color">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <img
          src="../assets/img/icons/unicons/wallet-info.png"
          alt="Credit Card"
          class="rounded"
        />
        </div>
        <div class="dropdown">
          <button
            class="btn p-0"
            type="button"
            id="cardOpt6"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
              <a class="dropdown-item justify-content-between d-flex" href="javascript:void(0);">
                  hide
                    <div class="text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input hide-amount" data-target="#sh-term" type="checkbox" role="switch">
                      </div>
                    </div>
                  </a>
          </div>
        </div>
      </div>
      <span class="fw-semibold d-block mb-2">Short-term Balance </span>
      <h3 class="card-title text-nowrap mb-1 control-color" id="sh-term" data-amount='<%= user.shortBallance %>' ><%= user.shortBallance.toLocaleString("en-US", { style: "currency", currency: "USD" }) %></h3>
      <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small> -->
    </div>
  </div>