        <style>
          .bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
          color: white;
          background-color: rgba(11, 42, 145, 0.4) !important;
          }
        </style>
        
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo d-flex justify-content-center">
              <a href="/" class="app-brand-link d-block">
                <span class="app-brand-logo demo ">
                  <img src="/assets/images/temenos.png" width="15px" class="d-block" alt="temenosglobal logo">
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2 text-capitalize"> Temenos</span>
              </a>
              <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
              </a>
            </div>
  
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item">
                <a href="/admin/dashboard" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">Dashboard</div>
                </a>
              </li>
             <!-- <li class="menu-item">
                 <a href="/admin/updateplans" class="menu-link">
                    <i class='text-primary menu-icon tf-icons bx bxs-data'></i>
                    <div data-i18n="Account Settings"> Update plans </div>
                 </a>
            </li> -->
            <li class="menu-item">
              <a href="/admin/payday" class="menu-link">
                <i class='menu-icon text-info bx bx-repeat'></i>
                 <div data-i18n="Account Settings">pay day</div>
              </a>
            </li>
           <li class="menu-item">
            <a href="/admin/deposit" class="menu-link">
               <i class='text-primary menu-icon tf-icons bx bxs-coin'></i>
               <div data-i18n="Account Settings">Confirm Deposit</div>
            </a>
           </li>
           <li class="menu-item">
            <a href="/admin/withdraw" class="menu-link">
              <i class='text-warning menu-icon bx bxs-credit-card-alt'></i>
               <div data-i18n="Account Settings">confirm Withdraw</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="/admin/loan" class="menu-link">
              <i class='menu-icon text-success tf-icons bx bxs-bank'></i>
               <div data-i18n="Account Settings">confirm Loan</div>
            </a>
          </li>
            <li class="menu-item">
                <a href="/admin/account" class="menu-link">
                    <i class="text-light menu-icon tf-icons bx bx-lock-open-alt"></i>
                   <div data-i18n="Account Settings">Account</div>
                </a>
           </li>
              <li class="menu-header small text-uppercase">
              </li>
              <li class="menu-item">
                <a href="/logout" class="menu-link">
                    <i class='text-danger menu-icon tf-icons bx bx-log-out-circle'></i>
                   <div data-i18n="Account Settings"> Logout</div>
                </a>
            </li>
          </aside>
        <script>
          document.querySelectorAll(".menu-inner li.menu-item").forEach(item=>{
            if("/admin<%=reqUrl%>" == item.querySelector("li.menu-item a").getAttribute("href")){
              item.classList.add("active")
            }
          })
        </script>
          <!-- / Menu -->